@model CovadisDashboard.Models.WebsiteModel;

@{
    ViewData["Title"] = "Add new check";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">

        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Please make sure you fill in a valid url and at least ONE element to check.</p>

        <div class="row">
            <div class="col-sm-8">
                <form asp-action="Add" asp-controller="Website">
                    <div id="items">
                        @*<div class="form-group">
                            <label for="Name"></label>
                            <input name="Name" placeholder="Your name goes here..."
                                   class="form-control" required />
                        </div>*@
                        <div class="form-group">
                            <label for="Url"></label>
                            <input name="Url" placeholder="Your url goes here..."
                                   class="form-control" required />
                        </div>
                        <div class="hidden">
                            <input id="Elements" name="Elements" />
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>

            <div class="col-sm-4">
                <p>Use this button to add up to 10 elemenst.</p>
                <button type="button" id="addElement">Add Element</button>
            </div>
        </div>
    </div>
</div>
