@model CovadisDashboard.Models.WebsiteModel;

@{
    ViewData["Title"] = "Add new check";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">

        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Please make sure you fill in a valid url and at least ONE element to check.</p>

        <div class="row">
            <div class="col-sm-8">
                <form asp-action="Create" asp-controller="Website">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="items">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Url" class="control-label"></label>
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Elements:</label>
                        </div>
                        <div class="hidden">
                            <input id="Elements" name="Elements" />
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                            <label for="Element1">Element1</label>
                            <input type="text" class="form-control" name="Element1" required />
                        </div>
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>

            <div class="col-sm-4">
                <p>Use this button to add up to 10 elemenst.</p>
                <button type="button" id="addElement">Add Element</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
