
@{
    ViewData["Title"] = "page404";
}
<div class="page404">
    <h2 class="text-center">This page is not fully armed and operational yet! </h2>
    <h1>@Html.ActionLink("Go back!", "Index", "Home", new { }, new { @class="text-center"})</h1>
</div>

