@{
    ViewData["Title"] = "Homepage";
}

<div class="row">
    <div><button class="btn btn-default center-block">Refresh the results!</button></div>
</div>

<div class="row">
        
    <div class="col-sm-2 rightBorder">
        <h2>Add new check</h2>
        @Html.ActionLink("Add new","Index","Website", new { }, new { @class = "btn btn-primary" })
    </div>

    <div class="col-sm-5 rightBorder">
        <h1>API's to check</h1>
        <table class="table-striped">
            <tr>
                <th class="col-md-3">Name:</th>
                <th class="col-md-2">Status:</th>
                <th class="col-md-6">URL:</th>
                <th class="col-md-1">Edit:</th>
            </tr>
            <tr>
                <td>Test1</td>
                <td>Good</td>
                <td>www.google.com</td>
                <td>x</td>
            </tr>
            <tr>
                <td>Test2</td>
                <td>Poor</td>
                <td>www.facebook.com</td>
                <td>x</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Bad</td>
                <td>www.twitter.com</td>
                <td>x</td>
            </tr>
        </table>
    </div>

    <div class="col-sm-5">
        <h1>Websites to check</h1>
        <table class="table-striped">
            <tr>
                <th class="col-md-3">Name:</th>
                <th class="col-md-2">Status:</th>
                <th class="col-md-6">URL:</th>
                <th class="col-md-1">Edit:</th>
            </tr>
            <tr>
                <td>Test1</td>
                <td>Good</td>
                <td>www.google.com</td>
                <td>x</td>
            </tr>
            <tr>
                <td>Test2</td>
                <td>Poor</td>
                <td>www.facebook.com</td>
                <td>x</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Bad</td>
                <td>www.twitter.com</td>
                <td>x</td>
            </tr>
        </table>
    </div>

</div>